/* menu responsive style */























/* Mobile responsive design start */
 
@media only screen and (min-width: 768px) and (max-width: 1000px) {

.container{
	width:90%;
}
#header .logo_left h1{
	font-size:38px;
	padding-top: 15px;
}
#header>nav ul#menu li a{
	padding: 37px 30px;
}

.left_content{
	width:62%;
	margin-right:4%;
}
.sidebar{
	width:30%;
}
.left_content .single_post_wrapper img{
	width:100%;
	height:auto;
}
.sidebar .single_slider{
	width:100%;
	display:block;
}
.left_content .single_post_wrapper h2{
	padding-top:5px;
	padding-bottom:10px;
}


.left_content .single_post_wrapper a.continue_r{
	padding:10px 20px;
	font-size:14px;
}

.sidebar .single_slider h2{
	width:100%;
	display:block;
	padding: 15px 0 15px 20px;
	font-size: 14px;
}
.sidebar .single_slider p{
width:-webkit-calc(100% - 11px);
width:-moz-calc(100% - 11px);
width:calc(100% - 11px);
font-size: 14px;
}
.single_slider .email_submit input {
    width: -webkit-calc(100% - 69px);
    width: -moz-calc(100% - 69px);
    width: calc(100% - 69px);
	height: 44px;
}

.sidebar .single_slider .scarch_box {
    width: calc(100% - 21px);
	height: 44px;
}


#footer {
    margin-top: 55px;
    margin-bottom: 55px;
}



}


@media only screen and (max-width: 767px) {
	body{background:#ff000003}
.container{
	width:94%;
}


#header .logo_left h1 {
    font-size: 31px;
    padding-top: 10px;
    padding-bottom: 5px;

}
.content_wrapper_bg {

    border-top: none;
    margin-top: 0px;

}


#header>nav ul#menu li a{
	padding: 20px 30px;
}

.content_wrapper {
    padding-top: 5%;
}


.left_content{
	width:100%;
}
.sidebar{
	width:100%;
}
.left_content .single_post_wrapper img{
	width:100%;
	height:auto;
}
.sidebar .single_slider{
	width:100%;
	display:block;
}
.left_content .single_post_wrapper h2{
	padding-top:5px;
	padding-bottom:0px;
	    font-size: 17px;
}
.left_content .single_post_wrapper p{
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 1.4;	
}


.left_content .single_post_wrapper a.continue_r{

	font-size: 14px;
    padding: 8px 18px;
    margin-top: 14px;
    width: calc(100% - 65px);
    text-align: center;
}
.left_content .single_post_wrapper {
    margin-bottom: 25px;
}

.sidebar .single_slider {
    margin-bottom: 20px;
}

.sidebar .single_slider h2{
	width:100%;
	display:block;
	padding: 15px 0 15px 20px;
	font-size: 14px;
	box-shadow:0 0 0;
}
.sidebar .single_slider p{
width:-webkit-calc(100% - 11px);
width:-moz-calc(100% - 11px);
width:calc(100% - 11px);
font-size: 14px;
margin-bottom:5px;
}

.single_slider .email_submit input {
    width: -webkit-calc(100% - 69px);
    width: -moz-calc(100% - 69px);
    width: calc(100% - 70px);
    height: 44px;
    border-right: 1px solid #fdd3b1;
	top: 12px !important;
}

.sidebar .single_slider .scarch_box {
    width: calc(100% - 22px);
	height: 44px;
	border: 1px solid #fdd3b1;
}
.content_bottom{
	padding:10px 0;
}


#footer {
    margin: 0;
    padding: 24px 0;
}

#footer > h1 {
    font-size: 35px;
    margin-bottom: 8px;
}
#footer > p {
    font-size: 12px;
    margin-bottom: 15px;
}
#footer {
    margin: 0;
    padding: 10px;
}

#footer > h1 {
    font-size: 29px;
    margin-bottom:0;
	margin-top:0;
    margin: 0;
}
#footer > p {
    font-size: 12px;
    margin-bottom: 8px;
    line-height: 1.3;
    margin-top: 5px;
}
#footer > ul > li a {
    transform: scale(.9);
}
#footer > ul > li.facebook a {
    background: url(../img/fbhover.png) no-repeat;
}

#footer > ul > li.tw a {
    background: url(../img/twhover.png) no-repeat;
}

#footer > ul > li.be a{
    background: url(../img/behover.png) no-repeat;
}
#footer > ul > li.bl a {
    background: url(../img/blhover.png) no-repeat;
}
.content_bottom .previous, .content_bottom .next {
  
    padding: 8px 12px;
 
    font-size: 12px;

}


nav{
	 display:none;
	width: 300px;
	position: absolute;
	right: 0;
	top: 80px;
	transform-origin: top;
	transform: scaleY(1);
	transition: all .1s ease-out;
}
/* menu */
.fix{
	overflow:initial;
}
#header .mobilemenu {
	display: block;
    font-size: 35px;
    margin-top: 22px;
    margin-right: 6px;
	;}
header#header {
    position: relative;
    height: 80px;
}
#header>nav ul#menu li {
    border: none;
    float: none;
    border-left:none
}
#header>nav ul#menu li:first-child {
    border: none;
}

#header>nav ul#menu li a {
    display: block;
    background: #191919;
    padding:20px 30px;
}

#header>nav ul#menu li.active a {
    border-bottom:5px solid transparent;
    background:black;
}


#header>nav ul#menu li a:hover{
	border-bottom:5px solid transparent;
	color:#ffffff;
	background:black;
}
.show_menu{
transform: scaleY(1);
display:block;
}
#header nav:before {
    content: '';
    background: #00000057;
    position: fixed;
    width: 286vh;
    height: 350vh;
    top: 0px;
    left: -507px;
    z-index: -1;
}
/* menu */



	
	
	
}


@media only screen and (min-width: 480px) and (max-width: 767px) {


.container{
	width:90%;
}


#header .logo_left h1 {
    font-size: 31px;
    padding-top: 10px;
    padding-bottom: 5px;

}
.content_wrapper_bg {

    border-top: none;
    margin-top: 0px;

}


#header>nav ul#menu li a{
	padding: 20px 30px;
}

.content_wrapper {
    padding-top: 5%;
}


.left_content{
	width:100%;
}
.sidebar{
	width:100%;
}
.left_content .single_post_wrapper img{
	width:100%;
	height:auto;
}
.sidebar .single_slider{
	width:100%;
	display:block;
}
.left_content .single_post_wrapper h2{
	padding-top:5px;
	padding-bottom:10px;
}
.left_content .single_post_wrapper p{
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 1.4;	
}


.left_content .single_post_wrapper a.continue_r{
	font-size:14px;
	padding:8px 18px;
	margin-top:14px;
}
.left_content .single_post_wrapper {
    margin-bottom: 25px;
}

.sidebar .single_slider {
    margin-bottom: 20px;
}

.sidebar .single_slider h2{
	width:100%;
	display:block;
	padding: 15px 0 15px 20px;
	font-size: 14px;
}
.sidebar .single_slider p{
width:-webkit-calc(100% - 11px);
width:-moz-calc(100% - 11px);
width:calc(100% - 11px);
font-size: 14px;
margin-bottom:5px;
}

.single_slider .email_submit input {
    width: -webkit-calc(100% - 69px);
    width: -moz-calc(100% - 69px);
    width: calc(100% - 70px);
    height: 44px;
    border-right: 1px solid #fdd3b1;
}

.sidebar .single_slider .scarch_box {
    width: calc(100% - 22px);
	height: 44px;
	border: 1px solid #fdd3b1;
}
.content_bottom{
	padding:10px 0;
}


#footer {
    margin: 0;
    padding: 24px 0;
}

#footer > h1 {
    font-size: 35px;
    margin-bottom: 8px;
}
#footer > p {
    font-size: 12px;
    margin-bottom: 15px;
}


nav{
	 display:none;
	width: 300px;
	position: absolute;
	right: 0;
	top: 80px;
	transform-origin: top;
	transform: scaleY(1);
	transition: all .1s ease-out;
}
/* menu */
.fix{
	overflow:initial;
}
#header .mobilemenu {
	display:block
	;}
header#header {
    position: relative;
    height: 80px;
}
#header>nav ul#menu li {
    border: none;
    float: none;
    border-left:none
}
#header>nav ul#menu li:first-child {
    border: none;
}

#header>nav ul#menu li a {
    display: block;
    background: #191919;
    padding:20px 30px;
}

#header>nav ul#menu li.active a {
    border-bottom:5px solid transparent;
    background:black;
}


#header>nav ul#menu li a:hover{
	border-bottom:5px solid transparent;
	color:#ffffff;
	background:black;
}
.show_menu{
transform: scaleY(1);
display:block;
}
#header nav:before {
    content: '';
    background: #00000057;
    position: fixed;
    width: 286vh;
    height: 350vh;
    top: 0px;
    left: -507px;
    z-index: -1;
}
/* menu */


}

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {


	
	
	
	
}